# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Facultate\Anul_2\SEMESTRUL 2\EAP\Proiect_EAP\Catalog_EAP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
